DEV_CLIENT_ID="1391831774589620286"
DEV_MODE="true"
DEV_TOKEN=""
GUILD_ID=""
PRODUCTION_CLIENT_ID=""
PRODUCTION_TOKEN=""
MONGODB_URI=""
MONGODB_DATABASE="sunfish-karoo"
FOLLOWED_PINGS_ENABLED="false"
# server
WELCOME_CHANNEL_ID=""
WELCOME_ROLE_ID=""
VERIFY_CHANNEL_ID=""
APPLY_CHANNEL_ID=""
QUESTS_FORUM_ID=""
QUICK_HELP_CHANNEL_ID=""
# festival
FESTIVAL_MANAGER_ROLE_ID = ""
FESTIVAL_APPROVED_TAG_ID = ""
FESTIVAL_DENIED_TAG_ID = ""
FESTIVAL_CHANNEL_ID=""
SAILORS_LODGE_ID=""
